body {
    background-color: #f5f5f5;
    text-align: center;
}

.letter {
    font-size: 90px;
    font-family: "Pacifico", cursive;
    display: inline-block;
    color: gold;
    transition: all 250ms ease-in-out;
}

.letter.active {
    transform: scale(1.5) rotate(25deg);
    color: blue;
}